.BadgesNew__hero{
 height: 100px;   
 background: #210a4a;
 border-top: 1px solid #fff;
 border-bottom: 4px solid #be9141;
}

.BadgesNew__hero-img{
    height: 100px;
    position: absolute;
}


  
    
