.Badge__logo{
    width: 40px;
    
}

.Navbar{
    background-color: #210a4a;
    padding: 10px 0px;
}

.Navbar__brand{
    color: #fff;
    display: flex;
    align-items: center;
}

.Navbar__brand:hover{
    color: #fff;
    text-decoration: none;
}

.Navbar__brand-logo{
  margin-right: 0.5rem;
}
